<mat-card class="cardWithShadow">
	<mat-card-content class="p-24">
		<mat-card-title>
			<div class="row">
				<div class="col-12 col-sm-4">List Barang</div>
				<div class="col-12 col-sm-8 right-top">
					<input
						class="search"
						type="text"
						(keyup.enter)="onSearch()"
						[(ngModel)]="search"
						placeholder="Search by name..."
					/>
					<a
						[routerLink]="['new']"
						mat-flat-button
						color="primary"
						style="float: right"
					>
						Tambah Barang
					</a>
				</div>
			</div>
		</mat-card-title>
		<div class="table-responsive m-t-16">
			<div class="overflow-x-auto">
				<table class="table table-hover w-100">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nama</th>
							<th scope="col">Satuan</th>
							<th scope="col">Harga</th>
							<th scope="col">Estimasi</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of listBarang; index as i">
							<th scope="row">{{ i + 1 }}</th>
							<td class="text-center">{{ item.nama }}</td>
							<td class="text-center">{{ item.satuan }}</td>
							<td class="text-center">Rp {{ item.harga }}</td>
							<td class="text-center">
								{{ item.estimasi }} Hari
							</td>
							<td>
								<a
									[routerLink]="['detail/' + item.barangID]"
									mat-flat-button
									color="primary"
									[ngClass]="['btn-detail']"
								>
									Lihat Detail
								</a>
								<button
									(click)="onDelete(item.barangID, item.nama)"
									mat-flat-button
									color="error"
									[ngClass]="['btn-delete']"
								>
									Hapus
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="pagination">
			<button
				*ngFor="let current of pages"
				(click)="goToPage(current - 1)"
				[ngClass]="{ 'active-button': page + 1 === current }"
			>
				{{ current }}
			</button>
		</div>
	</mat-card-content>
</mat-card>
